
@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="product-info">
            <img src="~/img/SK-A-1595.jpg" />
            <h3>Mug</h3>

        </div>
    </div>
</div>